h1 {
  color: #272829;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 15px;
}
h2 {
  color: #272829;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: lighter;
  margin-bottom: 15px;
}


<<<<<<< HEAD
/* .icon {
  color: red;
  margin: 2em;
} */
=======
.icon {
  color: #0bacc5;
  margin: 1em;
}
>>>>>>> effbf0a97987006817d380b5cafd8b759893d4f8
.form {
  width: 25%;
  padding-top: 5%;
  padding-right: 5%;
}
.leftdiv {
  position: relative;
  width: 65%;
}

.leftImage {
  position: absolute;
  width: 90%;
}
.button {
  color: white;
  margin-left: 5%;

}
